@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Amatic+SC:wght@700&family=Staatliches&display=swap");
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.login__container {
  width: 390px;
  margin-top: 50px;
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

  padding: 30px;
}

.icon {
  font-size: larger;
}
.login__container {
  width: 390px;
  margin-top: 50px;
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;

  padding: 30px;
}

.login__container > h5 {
  margin-bottom: 5px;
  font-size: 26px;
  font-family: "Akaya Kanadaka", cursive;
  font-style: bold;
  font-weight: 700;
  color: black;
  margin-top: 10px;
}
.login__container > input {
  height: 48px;
  margin-bottom: 12px;
  background-color: white;
  width: 90%;
  border-radius: 12px;
}

.login__signInButton {
  background: linear-gradient(to right, #ff416c, #ff4b2b);
  border-radius: 9px;
  width: 160px;
  height: 50px;
  border: 1px solid;
  margin-top: 23px;
  font-family: "Akaya Kanadaka", cursive;
  border-color: black;
  font-size: 25px;
  margin-right: 110px;
  color: white;
}
.login__registerButton {
  border-radius: 9px;
  width: 180px;
  height: 50px;
  border: 1px solid;
  margin-top: 30px;
  margin-right: 20px;
  margin-left: 10px;
  border-color: black;
  color: white;
  font-style: bold;
  font-size: 23px;
  font-family: "Akaya Kanadaka", cursive;
  background: linear-gradient(to right, #ff416c, #ff4b2b);
}
.login__registerButton:hover {
  background: white;
  color: black;
  border-radius: 33px;
}

.login__signInButton:hover {
  background: white;
  color: black;
  border-radius: 33px;
}

@media only screen and (max-width: 600px) {
  .login__container {
    width: 350px;
    margin-top: 50px;
    height: 430px;
  }

  .login__container > h5 {
    margin-bottom: 5px;
    font-size: 21px;
    font-style: bold;
    font-weight: 500;
  }
}
